@font-face {
    font-family: TwitterColorEmoji;
    src: url("/static/fonts/TwitterColorEmoji.ttf");
}

:root {
    --accent: #ACCENT_COLOR;
    --transparent: #00000000;
}

html {
    height: 100%;
    font-family: TwitterColorEmoji,Arial,Helvetica,Sans-Serif;
    color: white;
}

input[type="text"], input[type="password"] {
    background-color: var(--transparent);
    color: white;
    padding: 15px;
    border: 2px solid var(--accent);
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
}

.avatar {
    margin-right: .5em;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
}